<!-- ========== HEADER ========== -->
<header id="header" class="header">
  <div class="header-section">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="navbar navbar-expand-lg">
        <!-- Logo -->
        <a class="navbar-brand" href="/" aria-label="Front">
          COPROD.CO
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span class="navbar-toggler-default">
            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
            </svg>
          </span>
          <span class="navbar-toggler-toggled">
            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
            </svg>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <!-- Home -->
            <li class="position-static">
              <a id="homeMegaMenu" class="nav-link nav-link-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entrepreneurs</a>

              <!-- Home - Mega Menu -->
              <div class="dropdown-menu w-100 py-0" aria-labelledby="homeMegaMenu">
                <div class="row no-gutters">
                  <div class="col-lg-6">
                    <!-- Banner Image -->
                    <div class="navbar-banner" style="background-image: url(/img/750x750/img1.jpg);">
                      <div class="navbar-banner-content">
                        <div class="mb-4">
                          <span class="h2 d-block text-white">Entrepreneur Salarié</span>
                          <p class="text-white">Grâce au nouveau statut d'entrepreneur salarié, plus besoin de créer sa propre entreprise individuelle pour développer son activité de travailleur indépendant.</p>
                        </div>
                        <a class="btn btn-primary btn-sm transition-3d-hover" href="{{ path('esa') }}">En savoir plus <i class="fas fa-angle-right fa-sm ml-1"></i></a>
                      </div>
                    </div>
                    <!-- End Banner Image -->
                  </div>

                  <div class="col-lg-6">
                    <div class="row mega-menu-body">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <span class="d-block h5">Les activités</span>
                        <div class="mb-3">
                          <a class="dropdown-item px-0" href="#">Agency</a>
                          <a class="dropdown-item px-0" href="#">Analytics <span class="badge badge-primary badge-pill ml-2">Hot</span></a>
                          <a class="dropdown-item px-0" href="#">Studio</a>
                          <a class="dropdown-item px-0" href="#">Marketing</a>
                          <a class="dropdown-item px-0" href="#">Advertisement <span class="badge badge-primary badge-pill ml-2">Hot</span></a>
                          <a class="dropdown-item px-0" href="#">Consulting</a>
                          <a class="dropdown-item px-0" href="#">Portfolio</a>
                          <a class="dropdown-item px-0" href="#">Software</a>
                          <a class="dropdown-item px-0" href="#">Business</a>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <span class="d-block h5">L'entreprise partagée</span>
                        <div class="mb-3">
                          <a class="dropdown-item px-0" href="{{ path('scic') }}">Une SCIC SAS à capital variable</a>
                          <a class="dropdown-item px-0" href="{{ path('team') }}">Une équipe opérationnelle</a>
                          <a class="dropdown-item px-0" href="{{ path('local_groups') }}">Des relais locaux</a>
                          <a class="dropdown-item px-0" href="{{ path('partners') }}">Des partenaires</a>
                          <a class="dropdown-item px-0" href="{{ path('supporters') }}">Des soutiens</a>
                        </div>

                        <span class="d-block h5">L'insertion par l'activité</span>
                        <div class="mb-3">
                          <a class="dropdown-item px-0" href="{{ path('eiti') }}">Qu'est-ce qu'une EITI ?</a>
                          <a class="dropdown-item px-0" href="#">SaaS <span class="badge badge-primary badge-pill ml-2">Hot</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Home - Mega Menu -->
            </li>
            <!-- End Home -->

            <!-- Demos -->
            <li class="position-static navbar-nav-item">
              <a id="demosMegaMenu" class="nav-link nav-link-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>

              <!-- Demos - Mega Menu -->
              <div class="dropdown-menu right-0 left-auto py-0" aria-labelledby="demosMegaMenu">
                <div class="row no-gutters">
                  <div class="col-lg-8">
                    <div class="navbar-promo-card-deck">
                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link" href="#">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="/img/svg/icons/icon-67.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">Formation <span class="badge badge-success badge-pill ml-1">New</span></span>
                              <span class="navbar-promo-text">Learn On-demand demo</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->

                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link" href="#">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="/img/svg/icons/icon-45.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">Mise en relation</span>
                              <span class="navbar-promo-text">Marketplace app demo</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->
                    </div>

                    <div class="navbar-promo-card-deck">
                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link" href="#">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="/img/svg/icons/icon-4.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">Net working</span>
                              <span class="navbar-promo-text">Help desk demo</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->

                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link disabled" href="#">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="/img/svg/icons/icon-19.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">Accompagnement</span>
                              <span class="navbar-promo-text">Coming soon...</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->
                    </div>

                    <div class="navbar-promo-card-deck">
                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link disabled" href="#">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="/img/svg/icons/icon-13.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">Relais locaux</span>
                              <span class="navbar-promo-text">Coming soon...</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->

                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link disabled" href="#">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="/img/svg/icons/icon-5.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">Comptabilité</span>
                              <span class="navbar-promo-text">Coming soon...</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->
                    </div>
                  </div>

                  <!-- Promo -->
                  <div class="col-lg-4 navbar-promo d-none d-lg-block">
                    <a class="d-block navbar-promo-inner" href="#">
                      <div class="position-relative">
                        <img class="img-fluid rounded mb-3" src="/img/380x227/img1.jpg" alt="Image Description">
                      </div>
                      <span class="navbar-promo-text font-size-1">Front makes you look at things from a different perspectives.</span>
                    </a>
                  </div>
                  <!-- End Promo -->
                </div>
              </div>
              <!-- End Demos - Mega Menu -->
            </li>
            <!-- End Demos -->

            <!-- Docs -->
            <li class="position-static navbar-nav-item">
              <a id="docsMegaMenu" class="nav-link nav-link-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Docs</a>

              <!-- Docs - Submenu -->
              <div class="dropdown-menu right-0 left-auto py-0" aria-labelledby="docsMegaMenu" style="min-width: 330px;">
                <!-- Promo Item -->
                <div class="navbar-promo-item">
                  <a class="navbar-promo-link" href="#">
                    <div class="media align-items-center">
                      <img class="navbar-promo-icon" src="/img/svg/icons/icon-2.svg" alt="SVG">
                      <div class="media-body">
                        <span class="navbar-promo-title">
                          Le guide
                          <span class="badge badge-primary badge-pill ml-1">v3.0</span>
                        </span>
                        <small class="navbar-promo-text">de l'entrepreneur salarié</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Promo Item -->

                <!-- Promo Item -->
                <div class="navbar-promo-item">
                  <a class="navbar-promo-link" href="#">
                    <div class="media align-items-center">
                      <img class="navbar-promo-icon" src="/img/svg/icons/icon-1.svg" alt="SVG">
                      <div class="media-body">
                        <span class="navbar-promo-title">La FAQ</span>
                        <small class="navbar-promo-text">les réponses à vos questions</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Promo Item -->

                <div class="navbar-promo-footer">
                  <!-- List -->
                  <div class="row no-gutters">
                    <div class="col-6">
                      <div class="navbar-promo-footer-item">
                        <span class="navbar-promo-footer-text">Check what's new</span>
                        <a class="navbar-promo-footer-text" href="#">
                          Changelog
                        </a>
                      </div>
                    </div>
                    <div class="col-6 navbar-promo-footer-ver-divider">
                      <div class="navbar-promo-footer-item">
                        <span class="navbar-promo-footer-text">Une question ?</span>
                        <a class="navbar-promo-footer-text" href="#">
                          Contactez-nous
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- End List -->
                </div>
              </div>
              <!-- End Docs - Submenu -->
            </li>
            <!-- End Docs -->

            <!-- Blog -->
            <li class="dropdown navbar-nav-item">
              <a id="blogMegaMenu" class="nav-link nav-link-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Blog</a>

              <!-- Blog - Submenu -->
              <div id="blogSubMenu" class="dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
                <a class="dropdown-item" href="#">Journal</a>
                <a class="dropdown-item" href="#">Metro</a>
                <a class="dropdown-item" href="#">Newsroom</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Blog Profile</a>
                <a class="dropdown-item" href="#">Single Article</a>
              </div>
              <!-- End Submenu -->
            </li>
            <!-- End Blog -->

            <!-- Button -->
              {% if app.user %}
              {# <li class="navbar-nav-last-item">
                <a class="btn btn-sm btn-soft-navy transition-3d-hover" href="{{ path('app_logout') }}">{{ app.user.email }}</a>
              </li> #}

              <li class="navbar-nav-last-item dropdown">
                <a id="UserDropdownMenu" class="nav-link dropdown-toggle btn btn-sm btn-soft-navy " href="#"role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.email }}</a>
                {# <img src="{{ vich_uploader_asset(app.user, 'imageFile')}}" alt="avatar" style="width: 30px; height:auto;"> #}
                <div class="dropdown-menu" aria-labelledby="UserDropdownMenu">
                  <a class="dropdown-item" href="{{ path('dashboard') }}"><i class="fas fa-user"></i> Mon compte</a>
                  <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                </div>
              </li>
              

              {% else %}
              <li class="navbar-nav-last-item">
                <a class="btn btn-sm btn-primary transition-3d-hover" href="{{ path('app_login') }}">connexion</a>
              </li>
              {% endif %}
              <!-- End Button -->
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->